<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar, width: 50 %>
</p>

<%= link_to 'Edit Profile', account_setting_path %>

<hr>
<%= link_to 'Back to Users', users_url %>
